{
  "openapi": "3.0.0",
  "info": {
    "title": "Yanna API",
    "version": "1.0.0",
    "description": "API for Yanna - AI-Powered Demand Letter Generator"
  },
  "servers": [
    {
      "url": "https://app.yanna.pro"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v1/template": {
      "get": {
        "summary": "List Templates",
        "description": "List all available document templates. Supports filtering by category and search.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/v1/template/categories": {
      "get": {
        "summary": "List Categories",
        "description": "Get all available template categories.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/v1/template/{id}": {
      "get": {
        "summary": "Get Template",
        "description": "Get detailed information about a specific template, including required placeholders.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/v1/api-template/{id}/send": {
      "post": {
        "summary": "Send Template",
        "description": "Generate and send a signing package for a template.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "fields": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/v1/envelope/{id}": {
      "get": {
        "summary": "Get Envelope",
        "description": "Get the status and details of a signing envelope.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  }
}
